

img {
    width: 20%;
    height: 20%;
}

h1 {
    display: block;
    margin: 2% 10% 0%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 250%;
}

header{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #475F57;
    align-content: center;
}

h2 {
    margin: 15px 0 5px;
    font-size: 30px;
}


form {
    background: #477F57;
    color: #272F27;
    display: inline-block;
    margin: 20% 10% 20%;
    padding: 20px;
    position: absolute;
    transition: 1s;
    border: #272F27 3px solid;
}

table {
    border: #272F27 1px solid;
    position: relative;
    border-radius: 5px, 10px, 15px;
}


form:hover {
    transform: scale(1.2);
}

.enviar-roll{
    width: 30%;
    background: #477F57;
    border: none;

}

.enviar-roll {
    background: #FFFFFF;
}

thead tr, thead td input{
    text-align: center;
    display: flexbox;
    color: #474F57;
    width: auto;
    border: #474F57 1px solid
}
