<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Testando a pagina web</h1>
    <p>Oi eu sou jason na Web, eu estou sendo testado</p>
    <form method="post">
        <label for="name">Nome: <input type="text", id="name", name="name", required></label>
        <label for="idade">Idade: <input type="number" name="years" id="idade", required></label>
        <label for="check-in">check-in: <input type="date" name="check-in" id="check-in", required></label>
        <label for="check-out">check-out: <input type="date" name="check-out" id="check-out" required></label>
        <label for="Responsavel">Responsavel: <input type="text" name="parents" id="parents" required></label>
        <label for="anotation"><textarea name="anotation" id="anot" cols="30" rows="3" required,></textarea></label>
        <button type="submit">Enviar </button>
    </form>
</body>
</html>