<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/kid_form.css">
    <title>Infos</title>
</head>
<body>
    <header class="jason_header">
        <h1 class="jason_header__title">Fichinha</h1>
        <p class=>Oi eu sou jason na Web, eu estou sendo testado</p>
    </header>
    <section class="form_container">
        <form class="kid_formulary" method="post">
            <label class="form_container__label" for="name">
                Nome: <input type="text", id="name", name="name", required></label>
            <label class="form_container__label" for="idade">
                Idade: <input type="number" name="years" id="idade", required></label>
            <label class="form_container__label" for="check-in">
                check-in: <input type="date" name="check-in" id="check-in", required></label>
            <label class="form_container__label" for="check-out">
                check-out: <input type="date" name="check-out" id="check-out" required></label>
            <label class="form_container__label" for="apt">
                apt: <input type="number" name="apt" id="apt" required></label>
            <label class="form_container__label" for="Responsavel">
                Responsavel: <input type="text" name="parents" id="parents" required></label>
            <label class="form_container__label" for="anotation">Alguma anotação ?<textarea name="anotation" id="anot" cols="30" rows="3" required,></textarea></label>
            <button class="form_container__sub_button" type="submit">Enviar </button>
        </form>
    </section>
</body>
</html>